<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="Icon" href="/static/img/graph.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McComas Logger</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <section class="heading">
        <div class="container">
            <h1>McComas Logger</h1>
        </div>
    </section>
    <section class="description">
        <div class="container">
            <p>
                This is just a side project to track trends at the McComas gym. Each day of the week cycles on a weekly basis, so it will be the most current Sunday, Monday, etcetera.
                <br><br>
                Yes the graphs are small, no I don't care enough to have them do some sort of fancy scroll, zoom in, boo hoo.
                <br><br>
                If you have any questions and need to contact me, please don't.
            </p>
        </div>
    </section>
    <section class="Week">
        <div class="container">
            <h2>
                Occupancy
            </h2>
            <ul class="Days">
                <li>
                    <div day>
                        <h3>Sunday</h3>
                        <img src="/static/img/Sunday.png" alt="Graph for Sunday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Monday</h3>
                        <img src="/static/img/Monday.png" alt="Graph for Monday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Tuesday</h3>
                        <img src="/static/img/Tuesday.png" alt="Graph for Tuesday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Wednesday</h3>
                        <img src="/static/img/Wednesday.png" alt="Graph for Wednesday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Thursday</h3>
                        <img src="/static/img/Thursday.png" alt="Graph for Thursday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Friday</h3>
                        <img src="/static/img/Friday.png" alt="Graph for Friday">
                    </div>
                </li>
                <li>
                    <div day>
                        <h3>Saturday</h3>
                        <img src="/static/img/Saturday.png" alt="Graph for Saturday">
                    </div>
                </li>
            </ul>
        </div>
    </section>
</html>
